@import "../../../../variables.css";

.offer-panel{
  display: flex;
  flex-direction: column;
  border: 0.2em solid var(--background-color-header);
  border-radius: 1em;
  background-color: var(--background-offer);
  margin: 1em;
}

.offer-header{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 0 var(--side-margin);
}

.offer-title{
  width: 100%;
  align-self: center;
  margin-top: 0.5em;
  font-size: var(--font-size-heading);
  font-style: italic;
}

.offer-telephone{
  align-self: center;
  justify-self: center;
}

.phone-icon{
  font-weight: bold;
  color: var(--warning-color);
  font-size: var(--font-size-heading);
}

.offer-content{
  height: 100%;
  margin: var(--side-margin);
  text-align: justify;
  word-wrap: break-word;
}
