@import "variables.css";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color) !important;
}

header {
  background-color: var(--background-color-header);
  border-radius: 0.5em;
  color: var(--white-color);
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  padding: 0.8em;
  margin: 1em;
}

.deleted{
  filter: blur(4px);
}
