<section class="offer-section">
  <div class="columns-button">Widok:
    <nz-radio-group class="button-group" [(ngModel)]="columns" nzButtonStyle="solid">
      <label class="label-column" nz-radio-button nzValue="1">1</label>
      <label class="label-column" nz-radio-button nzValue="3">3</label>
    </nz-radio-group>
  </div>
  <div nz-row [nzGutter]="[hGutter, vGutter]">
    <app-offer-panel nz-col class="offer-row" [nzSpan]="24 / getColumnsNumber(columns)" *ngFor="let offer of offers"
                     [offer]="offer">
    </app-offer-panel>
  </div>
  <p *ngIf="!offers || offers.length === 0">No offers found</p>
</section>
