.offer-section {
  height: 100%;
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.options{
  display: flex;
  justify-content: space-between;
}

.options-left{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-inline{
  width: 300px;
}

.form-control{
  border: none;
  border-bottom: 1px solid var(--background-color-header);
  background-color: var(--background-color);
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid var(--background-color-header);
  box-shadow: 0 1px 0 0 var(--background-color-header);
}

.active-cyan input[type=text] {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--background-color-header);
  box-shadow: 0 1px 0 0 var(--background-color-header);
}

.search-icon{
  margin-top: var(--side-margin);
}

.button-group{
  align-self: flex-end;
}

.button-success{
  align-self: center;
  color: #fff;
  background-color: var(--background-color-header);
  border-color: var(--background-color-header);
}

.button-success:hover{
  background-color: var(--background-color-button-hover);
}

.label-column:active{
  background: var(--background-color-header) !important;
  border-color: var(--background-color-header) !important;
}

.label-column:hover{
  border-color: var(--background-color-header) ;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  background: var(--background-color-header) !important;
  border-color: var(--background-color-header) !important;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
  color: var(--white-color) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background: var(--background-color-header) !important;
  border-color: var(--background-color-header) !important;
}

.no-offers{
  margin-top: 5%;
}

.no-offers span{
  font-style: italic;
}

